body {
    margin: 0;
    padding: 0;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    color: white;
}

#main-container {
    margin: 0;
    padding: 0;
}

body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background-image: url('../img/background.jpg');
    background-repeat: repeat;
    background-position: cover;
    background-attachment: fixed;
}

#upper-container {
    width: 93%;
    margin: 50px auto;
    border: solid 7px #5398c8;
    opacity: 1;
}

#logo-container {
    width: 300px;
    height: 52px;
    background-color: white;
    margin-left: 5px;
    margin-top: -30px;
    text-align: center;
    color: #0b2839;
    font-weight: bold;
    letter-spacing: -1px;
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8);
}

#logo-container .green {
    color: #01fe48;
}

#maxta, #community {
    vertical-align: -20px;
    font-size: 30px;
}

#main-text {
    width: 90%;
    margin: 30px auto;
    margin-bottom: 0;
    font-size: 60px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 6px 2px #cbcac7;
    color: #636467;
    font-weight: bold;
    -webkit-transform: scaleY(1.2);
    transform: scaleY(1.2);
    line-height: 0.95;
}

#bonus {
    text-shadow: 6px 2px #cdf6b1;
    color: #69c50f;
}

#central-container {
    margin: 0;
    padding: 0;
    display: inline-flex;
}

#image-container {
    width: 61%;
    text-align: center;
}

#image-container img {
    width: 93%;
}

#lcb-container {
    color: black;
    padding-top: 220px;
}

input[type=text] {
    width: 400px;
    height: 40px;
    margin-bottom: 35px;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
}

button {
    width: 300px;
    height: 50px;
    font-size: 34px;
    font-weight: bolder;
    outline: none;
    background-color: #e8ba5a;
    color: #636467;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #fcaa00;
    color: black;
}

#lower-container-back {
    width: 100%;
    background-color: #f5f2f2;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: -5px;
}

#lower-container {
    width: 90%;
    padding: 30px;
    margin: 30px auto;
    background-color: #020f61;
}

#steps-container {
    width: 80%;
    display: flex;
    margin: 25px auto;
    margin-bottom: 50px;
}

#step1,
#step2,
#step3 {
    width: 24%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    border: 9px solid #5398c9;
    color: #020f61;
    border-radius: 140px / 50px;
    margin-left: 8px;
}

#step1 {
    padding-top: 20px;
    height: 62px;
}

#step2 {
    padding-top: 9px;
    height: 73px;
}

#step3 {
    padding-top: 9px;
    height: 73px;
}

.empty-space {
    width: 10%;
}

#line {
    width: 60%;
    height: 10px;
    margin: 0 auto;
    z-index: -1;
    background: white;
    margin-top: -105px;
    margin-bottom: 105px;
}

hr {
    width: 80%;
    height: 3px;
    border: none;
    background-color: white;
}

#terms-policy-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
}

#terms-policy-container a {
    color: white;
}

@media only screen and (max-width: 1400px) and (orientation : landscape) {
    body:before {
        height: 100%;
    }
}

@media only screen and (max-width: 1200px) and (orientation : landscape) {
    body:before {
        height: 100%;
    }
}

@media only screen and (max-width: 1400px) and (orientation : portrait) {
    body:before {
        height: 100%;
    }

    #terms-policy-container {
        width: 60%;
    }
}

@media only screen and (max-width: 1400px) {
    #main-text {
        font-size: 50px;
    }

    #step1,
    #step2,
    #step3 {
        font-size: 24px;
    }

    #step1 {
        padding-top: 24px;
        height: 50px;
    }

    #step2 {
        padding-top: 10px;
        height: 63px;
    }

    #step3 {
        padding-top: 10px;
        height: 63px;
    }

    #line {
        margin-top: -102px;
        margin-bottom: 100px;
    }

    #terms-policy-container {
        width: 70%;
    }
}

@media only screen and (max-width: 1300px) {
    #central-container {
        display: block;
    }

    #image-container {
        margin: 10px auto;
    }

    #lcb-container {
        padding-top: 0;
    }

    form {
        text-align: center;
    }

    #lcb-container p {
        text-align: center;
    }

    .empty-space {
        width: 8%;
    }

    #terms-policy-container {
        width: 80%;
    }
}

@media only screen and (max-width: 1200px) {
    #main-text {
        font-size: 40px;
    }

    #step1,
    #step2,
    #step3 {
        width: 245px;
        margin: 0 auto;
        font-size: 20px;
    }

    #step1 {
        padding-top: 24px;
        height: 46px;
    }

    #step2 {
        padding-top: 10px;
        height: 58px;
    }

    #step3 {
        padding-top: 10px;
        height: 58px;
    }

    .empty-space {
        width: 6%;
    }

    #line {
        margin-top: -100px;
        margin-bottom: 95px;
    }

    #terms-policy-container {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1000px) {
    #image-container {
        width: 90%;
    }

    #main-text {
        font-size: 35px;
    }

    #lcb-container p {
        font-size: 12px;
    }

    #step1,
    #step2,
    #step3 {
        font-size: 18px;
    }

    #step1 {
        padding-top: 22px;
        height: 42px;
    }

    #step2 {
        padding-top: 10px;
        height: 54px;
    }

    #step3 {
        padding-top: 10px;
        height: 54px;
    }

    .empty-space {
        width: 4%;
    }

    #line {
        margin-top: -98px;
        margin-bottom: 90px;
    }

    #terms-policy-container {
        font-size: 10px;
    }
}

@media only screen and (max-width: 900px) {
    #main-text {
        font-size: 30px;
    }

    #lcb-container p {
        font-size: 10px;
    }

    #steps-container {
        width: 90%;
    }

    #step1 {
        padding-top: 20px;
        height: 38px;
    }

    #step2 {
        padding-top: 10px;
        height: 48px;
    }

    #step3 {
        padding-top: 10px;
        height: 48px;
    }

    .empty-space {
        width: 2%;
    }

    #line {
        margin-top: -94px;
        margin-bottom: 80px;
    }

    hr {
        width: 90%;
    }

    #terms-policy-container {
        width: 90%;
    }
}

@media only screen and (max-width: 800px) {
    #lcb-container p {
        font-size: 8px;
    }

    #steps-container {
        width: 100%;
    }

    hr {
        width: 100%;
    }

    #terms-policy-container {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 500px) {

}