body {
    margin: 0;
    padding: 0;
    background-color: #0080FE;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

#main-container {
	width: 100%;
	height: 720px;
	display: flex;
}

#left-side {
	width: 45%;
	height: 100%;
}

#left-side {
	background-color: white;
	align-items: center;
}

#logo {
	margin-top: 70px;
	margin-bottom: 70px;
	margin-left: 20px;
	height: 70px;
	display: inline-flex;
	align-items: center;
}

#logo-image {
	width: 140px;
	height: 120px;
	color: #a0a0a0;
	border: 10px solid #d8d5d5;
	border-radius: 100px;
	font-size: 55px;
	font-weight: 749;
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo-image > span {
	height: 45px;
	line-height: 30px;
}

#logo-text {
	width: 70%;
	height: 100%;
	font-size: 30px;
	font-weight: bold;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-family: "Courier New", Courier, monospace;
}

#main-text {
	margin-top: 100px;
}

#header {
	font-size: 55px;
	font-weight: 800;
	/*color: #411b98;*/
	-webkit-transform: scaleY(1.6);
    transform: scaleY(1.6);
    font-family: sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom, white, #411b98);
  	color: transparent;
  	-webkit-background-clip: text;
  	background-clip: text;
  	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #a00000;
}

#star1,
#star2,
#star3 {
	position: relative;
	background:url("../img/star.png") no-repeat;
	background-size: contain;
}

#star1 {
	width: 50px;
	height: 50px;
    margin-left: 30%;
    transform: rotate(30deg);
}

#star2 {
	width: 40px;
	height: 40px;
	margin-left: 20%;
    transform: rotate(-30deg);
    z-index: 999;
}

#star3 {
	width: 60px;
	height: 60px;
	margin-left: 75%;
	margin-top: -100px;
    transform: rotate(-45deg);
    margin-bottom: 160px;
}

#buttons,
#buttons2 {
	text-align: center;
}

#buttons {
	display: block;
}

#buttons2 {
	display: none;
}

#desc {
	font-size: 22px;
	font-weight: bold;
	color: #bdbdbd;
	margin-bottom: 20px;
}

.btn {
	width: 165px;
	height: 40px;
	font-size: 22px;
	font-weight: bold;
	background-color: transparent;
	border: 4px solid #0080FE;
	color: #a0a0a0;
	border-radius: 25px;
	outline: none;
}

.btn:hover {
	cursor: pointer;
	background-color: orange;
	color: white;
	border-right: 4px solid #014486;
	border-bottom: 4px solid #014486;
}

#spin-btn1,
#spin-btn2 {
	margin-right: 10px;
}

#middle {
	width: 10%;
	height: 720;
	display: block;
}

svg {
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	height: 720px;
}

path {
	width: 100%;
	height: 100%;
	transform: none;
	-moz-transform: none;
}

#right-side {
	width: 40%;
	height: 100%;
}

.slot-wrapper {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slot {
	background:url("../img/reel_normal.png") repeat-y;
	width:100px;
	height:360px;
	border:0px solid #000;
	background-position:0 4px;
}

.motion {
	background:url("../img/reel_blur.png") repeat-y;
}

.clear {
	clear:both;
}

#lower-container {
    width: 90%;
    padding: 30px 0;
    margin: 0 auto;
    color: #e6b133;
}

#terms-policy-container {
    width: 80%;
    margin: 0 auto;
    font-weight: 300;
    font-size: 17px;
    line-height: 18px;
    text-align: justify;
}

#terms-policy-container a {
    color: #e6b133;
}

#cover-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(187, 226, 245, .7);
	display: none;
	align-items: center;
}

#popup-container {
	background:url("../img/background.jpg") no-repeat;
	background-size: contain;
	width: 700px;
	margin: 150px auto;
	background-color: #0d0045;
	color: white;
}

#popup-container a {
	color: #3499ff;
	text-decoration: none;
}

#header-desc-container,
#popup-text,
#lcb-container {
	width: 100%;
	text-align: center;
}

#header-desc-container {
	margin-top: 230px;
}

#popup-text {
	font-size: 15px;
	font-weight: bold;
}

input[type=text] {
	margin-top: 30px;
    width: 250px;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    outline: none;
    text-align: center;
    background-color: orange;
    border-color: black;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
  font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
  font-weight: bold;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
  font-weight: bold;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
  font-weight: bold;
}

input[type=checkbox] {
	cursor: pointer;
}

#lcb-container button {
	margin-top: 40px;
    width: 180px;
    height: 45px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    outline: none;
    background-color: orange;
    border-color: black;
}

#lcb-container button:hover {
    cursor: pointer;
}

#lcb-container p {
    font-size: 11px;
}

#lcb-container>p {
    margin-top: 25px;
    margin-bottom: 25px;
}

#lcb-container p:last-child {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.popup-close {
    background-color: #fff;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    width: 23px;
    height: 30px;
    text-align: center;
    color: grey;
    float: right;
    transform: scale(1.2, 0.8);
    margin-right: 5px;
}

.popup-close:hover {
	cursor: pointer;
    color: red;
}

@media only screen and (max-width: 1000px) {
	#main-container {
		height: 100%;
		display: block;
	}

    #left-side {
        width: 100%;
    }

    #header {
    	margin-bottom: 0;
    }

    #star3 {
	    margin-bottom: 0;
	}

    #buttons {
		display: none;
	}

	#buttons2 {
		display: block;
	}

	.btn {
		margin-top: 50px;
		margin-bottom: 70px;
		background-color: white;
		border: 4px solid #252b31;
		color: #a0a0a0;
	}

	.btn:hover {
		border-left: 4px solid grey;
		border-top: 4px solid grey;
	}

    #middle {
    	width: 100%;
    	height: 140px;
    	display: flex;
    }

    svg {
    	width: 100%;
    	height: 100%;
    }

    #right-side {
    	width: 100%;
    }

    #main-text {
		margin-top: 30px;
	}

	#popup-container {
		margin: 50px auto;
	}
}

@media only screen and (max-width: 750px) {
	#popup-container {
		width: 80%;
	}
}

@media only screen and (max-width: 600px) {
	#popup-text {
		width: 80%;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 450px) {
	input[type=text] {
	    width: 70%;
	}
}